<!--Seccion de footer-->
<footer>
  <p style="color: #c4dad2">
    © 2024 EJERCICIO 2. Todos los derechos reservados.
  </p>
  <p>
    <a href="#about" class="link-text">Más información</a>
    <a href="#contact" class="link-text">Contactos</a>
    <a href="#privacy" class="link-text">Política de privacidad</a>
  </p>
  <div>
    <a
      href="https://facebook.com"
      target="_blank"
      class="social-icon"
      style="margin: 0 10px; color: #6a9c89"
    >
      <i class="fa-brands fa-facebook"></i>
    </a>
    <a
      href="https://twitter.com"
      target="_blank"
      class="social-icon"
      style="margin: 0 10px; color: #6a9c89"
    >
      <i class="fa-brands fa-twitter"></i>
    </a>
    <a
      href="https://linkedin.com"
      target="_blank"
      class="social-icon"
      style="margin: 0 10px; color: #6a9c89"
    >
      <i class="fa-brands fa-linkedin"></i>
    </a>
    <a
      href="https://github.com/aggiovato/ejercicio-2.git"
      target="_blank"
      class="social-icon"
      style="margin: 0 10px; color: #6a9c89"
    >
      <i class="fa-brands fa-github"></i>
    </a>
  </div>
</footer>
