<!--Seccion de footer-->
<footer>
  <p style="color: #c4dad2">
    © 2024 EJERCICIO 3. Todos los derechos reservados.
  </p>
  <p>
    <a href="#about" style="margin: 0 15px; color: #6a9c89">Sobre nosotros</a>
    <a href="#contact" style="margin: 0 15px; color: #6a9c89">Contacto</a>
    <a href="#privacy" style="margin: 0 15px; color: #6a9c89"
      >Política de privacidad</a
    >
  </p>
  <div>
    <a
      href="https://facebook.com"
      target="_blank"
      class="social-icon"
      style="margin: 0 10px; color: #6a9c89"
    >
      <i class="fa-brands fa-facebook"></i>
    </a>
    <a
      href="https://twitter.com"
      target="_blank"
      class="social-icon"
      style="margin: 0 10px; color: #6a9c89"
    >
      <i class="fa-brands fa-square-x-twitter"></i>
    </a>
    <a
      href="https://linkedin.com"
      target="_blank"
      class="social-icon"
      style="margin: 0 10px; color: #6a9c89"
    >
      <i class="fa-brands fa-linkedin"></i>
    </a>
    <a
      href="https://linkedin.com"
      target="_blank"
      class="social-icon"
      style="margin: 0 10px; color: #6a9c89"
    >
      <i class="fa-brands fa-github"></i>
    </a>
  </div>
</footer>
