<!--Seccion de titulos y contenidos-->
<section class="content">
  <h1>HTML &amp; EJERCICIO NÚMERO 3</h1>
  <h2>INDICE CURSO CREACIÓN Y DISEÑO PÁGINAS WEB</h2>
  <ul class="content-sumary">
    <li>Elementos básicos del diseño de páginas web</li>
    <li>Principales tipologías web</li>
    <li>Conocimiento de herramientas tecnológicas</li>
    <li>Lenguaje de descripción de documentos HTML</li>
    <li>Programación de páginas web en javaScript</li>
    <li>Usabilidad y Accesibilidad</li>
  </ul>
</section>
