<!--Seccion de titulos y contenidos-->
<section class="content-table">
  <h1>HTML &amp; EJERCICIO NÚMERO 3</h1>
  <h2>INDICE CURSO CREACIÓN Y DISEÑO PÁGINAS WEB</h2>
  <ul class="content-sumary">
    <li>ELEMENTOS BASICOS DEL DISEÑO DE PAGINAS WEB</li>
    <li>PRINCIPALES TIPOLOGIAS WEB</li>
    <li>CONOCIMIENTO DE HERRAMIENTAS TECNOLOGICAS</li>
    <li>LENGUAJE DE DESCRIPCION DE DOCUMENTOS HTML</li>
    <li>PROGRAMACIOND E PAGINAS WEB EN JAVASCRIPT</li>
    <li>USABILIDAD Y ACCESIBILIDAD</li>
  </ul>
</section>
