<!--Seccion de introducción-->
<h2>Introducción</h2>
<section class="introduction">
  <div class="col-1">
    <p>
      Las páginas web forman parte de nuestra vida, desde que
      <span class="highlight"> Berners-Lee</span> publicó la primera página web
      a finales de 1990 en el CERN, la web no tenía nada que ver con lo que
      conocemos hoy en día. Las páginas web al principio sólo tenían texto. En
      cambio, más de 29 años más tarde, se han vuelto muy complejas, aunque la
      base sigue siendo el hipertexto y la hipermedia junto con los enlaces o
      hipervínculos.
      <span class="icon"><i class="fa-solid fa-circle-check"></i></span>
    </p>
  </div>

  <div class="col-2">
    <p>
      Dependiendo de las necesidades, el público objetivo y el contenido que
      vayamos a mostrar, elegiremos un tipo u otro de sitio Web. Esta Web
      adaptativa en tanto que nos adaptamos a los intereses de los usuario o
      clientes, deben permitir una flexibilidad, donde si bien el diseño gráfico
      es importante, no debe nunca supeditarse al contenido.
      <span class="icon"><i class="fa-solid fa-circle-check"></i></span>
    </p>
    <p>
      Existen diferentes clasificaciones que podemos utilizar para definir
      distintos tipos de sitios Web, según su funcionalidad, a que se dedican, o
      bien sus características internas. Vamos a ir viendo cada una de esas
      clasificaciones. Algo básico que debemos saber es la diferencia entre
      <span class="highlight">página Web</span>,
      <span class="highlight">sitio Web</span> y
      <span class="highlight">portal Web</span>. En el cuadro que tenemos en la
      parte inferior, podemos ver las características de cada uno de ellos.
      <span class="icon"><i class="fa-solid fa-circle-check"></i></span>
    </p>
  </div>
</section>
