<div id="modal-content" class="modal-content">
  <i class="fa-regular fa-circle-xmark close"></i>
  <h4>
    <i class="fa-brands fa-html5"></i><span class="html-text"> html</span>
  </h4>
  <div id="html-code">
    <pre class="pre-html">
      <code class="cont-html">

          &lt;!DOCTYPE html&gt;
          &lt;html&gt;
            &lt;head&gt;
              &lt;meta charset=&quot;utf-8&quot; /&gt;
              &lt;title&gt;HTML &amp;amp; EJERCICIO NÚMERO 3&lt;/title&gt;
          
              &lt;link rel=&quot;stylesheet&quot; href=&quot;styles.css&quot; /&gt;
              &lt;link
                rel=&quot;stylesheet&quot;
                href=&quot;https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css&quot;
              /&gt;
            &lt;/head&gt;
          
            &lt;body class=&quot;body&quot;&gt;
              &lt;div id=&quot;header&quot;&gt;&lt;/div&gt;
              &lt;div id=&quot;introduction&quot;&gt;&lt;/div&gt;
              &lt;div id=&quot;tools&quot;&gt;&lt;/div&gt;
              &lt;div id=&quot;buttons&quot;&gt;&lt;/div&gt;
              &lt;div id=&quot;code&quot;&gt;&lt;/div&gt;
              &lt;div id=&quot;footer&quot;&gt;&lt;/div&gt;
          
              &lt;script src=&quot;scripts/main.js&quot; defer&gt;&lt;/script&gt;
            &lt;/body&gt;
          &lt;/html&gt;


          &lt;!--Seccion de titulos y contenidos--&gt;
          &lt;section class=&quot;content&quot;&gt;
            &lt;h1&gt;HTML &amp;amp; EJERCICIO NÚMERO 3&lt;/h1&gt;
            &lt;h2&gt;INDICE CURSO CREACIÓN Y DISEÑO PÁGINAS WEB&lt;/h2&gt;
            &lt;ul class=&quot;content-sumary&quot;&gt;
              &lt;li&gt;Elementos básicos del diseño de páginas web&lt;/li&gt;
              &lt;li&gt;Principales tipologías web&lt;/li&gt;
              &lt;li&gt;Conocimiento de herramientas tecnológicas&lt;/li&gt;
              &lt;li&gt;Lenguaje de descripción de documentos HTML&lt;/li&gt;
              &lt;li&gt;Programación de páginas web en javaScript&lt;/li&gt;
              &lt;li&gt;Usabilidad y Accesibilidad&lt;/li&gt;
            &lt;/ul&gt;
          &lt;/section&gt;


          &lt;!--Seccion de introducción--&gt;
          &lt;h2&gt;Introducción&lt;/h2&gt;
          &lt;section class=&quot;introduction&quot;&gt;
            &lt;div class=&quot;col-1&quot;&gt;
              &lt;p&gt;
                Las páginas web forman parte de nuestra vida, desde que
                &lt;span class=&quot;highlight&quot;&gt; Berners-Lee&lt;/span&gt; publicó la primera página web
                a finales de 1990 en el CERN, la web no tenía nada que ver con lo que
                conocemos hoy en día. Las páginas web al principio sólo tenían texto. En
                cambio, más de 29 años más tarde, se han vuelto muy complejas, aunque la
                base sigue siendo el hipertexto y la hipermedia junto con los enlaces o
                hipervínculos.
                &lt;span class=&quot;icon&quot;&gt;&lt;i class=&quot;fa-solid fa-circle-check&quot;&gt;&lt;/i&gt;&lt;/span&gt;
              &lt;/p&gt;
            &lt;/div&gt;


            &lt;div class=&quot;col-2&quot;&gt;
              &lt;p&gt;
                Dependiendo de las necesidades, el público objetivo y el contenido que
                vayamos a mostrar, elegiremos un tipo u otro de sitio Web. Esta Web
                adaptativa en tanto que nos adaptamos a los intereses de los usuario o
                clientes, deben permitir una flexibilidad, donde si bien el diseño gráfico
                es importante, no debe nunca supeditarse al contenido.
                &lt;span class=&quot;icon&quot;&gt;&lt;i class=&quot;fa-solid fa-circle-check&quot;&gt;&lt;/i&gt;&lt;/span&gt;
              &lt;/p&gt;
              &lt;p&gt;
                Existen diferentes clasificaciones que podemos utilizar para definir
                distintos tipos de sitios Web, según su funcionalidad, a que se dedican, o
                bien sus características internas. Vamos a ir viendo cada una de esas
                clasificaciones. Algo básico que debemos saber es la diferencia entre
                &lt;span class=&quot;highlight&quot;&gt;página Web&lt;/span&gt;,
                &lt;span class=&quot;highlight&quot;&gt;sitio Web&lt;/span&gt; y
                &lt;span class=&quot;highlight&quot;&gt;portal Web&lt;/span&gt;. En el cuadro que tenemos en la
                parte inferior, podemos ver las características de cada uno de ellos.
                &lt;span class=&quot;icon&quot;&gt;&lt;i class=&quot;fa-solid fa-circle-check&quot;&gt;&lt;/i&gt;&lt;/span&gt;
              &lt;/p&gt;
            &lt;/div&gt;
          &lt;/section&gt;


          &lt;!--Seccion de tools--&gt;
          &lt;h2&gt;Herramientas tecnológicas&lt;/h2&gt;
          &lt;p class=&quot;tools-p&quot;&gt;Vamos a ir viendo algunas herramientas tecnológicas&lt;/p&gt;
          &lt;section&gt;
            &lt;ul class=&quot;tools&quot;&gt;
              &lt;div&gt;
                &lt;li&gt;
                  &amp;nbsp;En esta unidad vamos a adentrarnos en el conocimiento de una serie
                  de herramientas esenciales para el conocimiento del diseño web y del
                  diseño gráfico, así como retoque fotográfico aplicado al diseño. En
                  unidades anteriores hemos visto. En un mundo el del diseño en constante
                  cambio se han ido modificando los parámetros de páginas interactivas a
                  páginas donde siendo el diseño importante prima el contenido.
                  &lt;span class=&quot;icon&quot;&gt;&lt;i class=&quot;fa-solid fa-circle-check&quot;&gt;&lt;/i&gt;&lt;/span&gt;
                &lt;/li&gt;
              &lt;/div&gt;
              &lt;div&gt;
                &lt;li&gt;
                  &amp;nbsp;Vamos a conocer una serie de herramientas que van desde el diseño
                  web y gestión de sitios. Como tal. Diseño gráfico animaciones y retoque.
                  Dependiendo del tipo de sitio web que diseñe a vamos a usar unas u
                  otras. Si bien existen multitud de herramientas que un diseñador Web
                  debe conocer, vamos a centrarnos en las principales.
                  &lt;span class=&quot;icon&quot;&gt;&lt;i class=&quot;fa-solid fa-circle-check&quot;&gt;&lt;/i&gt;&lt;/span&gt;
                &lt;/li&gt;
              &lt;/div&gt;
              &lt;div&gt;
                &lt;li&gt;
                  &amp;nbsp;En la próxima unidad veremos el código
                  &lt;span class=&quot;highlight&quot;&gt;HTML&lt;/span&gt; y el lenguaje
                  &lt;span class=&quot;highlight&quot;&gt;CSS&lt;/span&gt;, son la base fundamental para diseñar
                  nuestro sitio Web, si bien existen otros lenguajes, algunos como
                  Javascript que veremos a lo largo del curso, muy extendidos en el
                  universo de la programación Web. HTML Y CSS, son esenciales para ir
                  adentrándonos en este mundo de la programación.
                  &lt;span class=&quot;icon&quot;&gt;&lt;i class=&quot;fa-solid fa-circle-check&quot;&gt;&lt;/i&gt;&lt;/span&gt;
                &lt;/li&gt;
              &lt;/div&gt;
            &lt;/ul&gt;
          &lt;/section&gt;


          &lt;!--Seccion de buttons--&gt;
          &lt;div class=&quot;button-container&quot;&gt;
            &lt;button onclick=&quot;showHTML()&quot;&gt;
              &lt;span&gt;&lt;i class=&quot;fa-sharp-duotone fa-solid fa-code&quot;&gt;&lt;/i&gt;&lt;/span&gt;
            &lt;/button&gt;
            &lt;button onclick=&quot;showCSS()&quot;&gt;
              &lt;span&gt;&lt;i class=&quot;fa-brands fa-css3&quot;&gt;&lt;/i&gt;&lt;/span&gt;
            &lt;/button&gt;
          &lt;/div&gt;


          &lt;!--Seccion de footer--&gt;
          &lt;footer&gt;
            &lt;p style=&quot;color: #c4dad2&quot;&gt;
              © 2024 EJERCICIO 2. Todos los derechos reservados.
            &lt;/p&gt;
            &lt;p&gt;
              &lt;a href=&quot;#about&quot; style=&quot;margin: 0 15px; color: #6a9c89&quot;&gt;Más información&lt;/a&gt;
              &lt;a href=&quot;#contact&quot; style=&quot;margin: 0 15px; color: #6a9c89&quot;&gt;Contactos&lt;/a&gt;
              &lt;a href=&quot;#privacy&quot; style=&quot;margin: 0 15px; color: #6a9c89&quot;&gt;Política de privacidad&lt;/a&gt;
            &lt;/p&gt;
            &lt;div&gt;
              &lt;a
                href=&quot;https://facebook.com&quot;
                target=&quot;_blank&quot;
                class=&quot;social-icon&quot;
                style=&quot;margin: 0 10px; color: #6a9c89&quot;
              &gt;
                &lt;i class=&quot;fa-brands fa-facebook&quot;&gt;&lt;/i&gt;
              &lt;/a&gt;
              &lt;a
                href=&quot;https://twitter.com&quot;
                target=&quot;_blank&quot;
                class=&quot;social-icon&quot;
                style=&quot;margin: 0 10px; color: #6a9c89&quot;
              &gt;
                &lt;i class=&quot;fa-brands fa-twitter&quot;&gt;&lt;/i&gt;
              &lt;/a&gt;
              &lt;a
                href=&quot;https://linkedin.com&quot;
                target=&quot;_blank&quot;
                class=&quot;social-icon&quot;
                style=&quot;margin: 0 10px; color: #6a9c89&quot;
              &gt;
                &lt;i class=&quot;fa-brands fa-linkedin&quot;&gt;&lt;/i&gt;
              &lt;/a&gt;
              &lt;a
                href=&quot;https://linkedin.com&quot;
                target=&quot;_blank&quot;
                class=&quot;social-icon&quot;
                style=&quot;margin: 0 10px; color: #6a9c89&quot;
              &gt;
                &lt;i class=&quot;fa-brands fa-github&quot;&gt;&lt;/i&gt;
              &lt;/a&gt;
            &lt;/div&gt;
          &lt;/footer&gt;


        </code>    
      </pre>
  </div>
</div>
