<div id="modal-content" class="modal-content">
  <i class="fa-regular fa-circle-xmark close"></i>
  <h4><span><i class="fa-brands fa-html5"></i> html</span></h4>
  <div id="html-code">
    <pre class="pre-html">
      <code class="cont-html">
          &lt;!DOCTYPE html&gt;
          &lt;html&gt;
            &lt;head&gt;
              &lt;meta charset=&quot;utf-8&quot; /&gt;
              &lt;title&gt;HTML &amp;amp; EJERCICIO NÚMERO 3&lt;/title&gt;
          
              &lt;link rel=&quot;stylesheet&quot; href=&quot;styles.css&quot; /&gt;
              &lt;link
                rel=&quot;stylesheet&quot;
                href=&quot;https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css&quot;
              /&gt;
            &lt;/head&gt;
          
            &lt;body class=&quot;body&quot;&gt;
              &lt;div id=&quot;header&quot;&gt;&lt;/div&gt;
              &lt;div id=&quot;introduction&quot;&gt;&lt;/div&gt;
              &lt;div id=&quot;tools&quot;&gt;&lt;/div&gt;
              &lt;div id=&quot;buttons&quot;&gt;&lt;/div&gt;
              &lt;div id=&quot;code&quot;&gt;&lt;/div&gt;
              &lt;div id=&quot;footer&quot;&gt;&lt;/div&gt;
          
              &lt;script src=&quot;scripts/main.js&quot; defer&gt;&lt;/script&gt;
            &lt;/body&gt;
          &lt;/html&gt;
          <span class="icon"><i class="fa-solid fa-circle-check"></i></span>       
      </pre>
  </div>
</div>
