<!--Seccion de tools-->
<h2>Herramientas tecnológicas</h2>
<p class="tools-p">Vamos a ir viendo algunas herramientas tecnológicas</p>
<section>
  <ul class="tools">
    <div>
      <li>
        &nbsp;En esta unidad vamos a adentrarnos en el conocimiento de una serie
        de herramientas esenciales para el conocimiento del diseño web y del
        diseño gráfico, así como retoque fotográfico aplicado al diseño. En
        unidades anteriores hemos visto. En un mundo el del diseño en constante
        cambio se han ido modificando los parámetros de páginas interactivas a
        páginas donde siendo el diseño importante prima el contenido.
        <span class="icon"><i class="fa-solid fa-circle-check"></i></span>
      </li>
    </div>
    <div>
      <li>
        &nbsp;Vamos a conocer una serie de herramientas que van desde el diseño
        web y gestión de sitios. Como tal. Diseño gráfico animaciones y retoque.
        Dependiendo del tipo de sitio web que diseñe a vamos a usar unas u
        otras. Si bien existen multitud de herramientas que un diseñador Web
        debe conocer, vamos a centrarnos en las principales.
        <span class="icon"><i class="fa-solid fa-circle-check"></i></span>
      </li>
    </div>
    <div>
      <li>
        &nbsp;En la próxima unidad veremos el código
        <span class="highlight">HTML</span> y el lenguaje
        <span class="highlight">CSS</span>, son la base fundamental para diseñar
        nuestro sitio Web, si bien existen otros lenguajes, algunos como
        Javascript que veremos a lo largo del curso, muy extendidos en el
        universo de la programación Web. HTML Y CSS, son esenciales para ir
        adentrándonos en este mundo de la programación.
        <span class="icon"><i class="fa-solid fa-circle-check"></i></span>
      </li>
    </div>
  </ul>
</section>
