/* ESTILOS GENERALES */

.body {
  margin: 0;
  padding: 0;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  align-content: center;
  background-color: #e9efec;
  color: #093b34;
  font-family: "Titillium Web", sans-serif;
  font-size: small;
}

h1 {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  margin-top: 50px;
}

h2 {
  margin-top: 30px;
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 15px;
  margin-inline: 30px;
}

li {
  list-style-type: none;
  position: relative;
}

ul {
  margin-inline-start: 0;
  padding-inline-start: 0;
  list-style-type: none;
}

/* ESTILOS CONTENT */

.content-sumary {
  font-family: "Titillium Web", sans-serif;
  font-size: small;
  color: #6a9c89;
  margin-inline: 30%;
  padding-left: 50px;
}

@media (max-width: 767px) {
  .content-sumary {
    margin-inline: 13%;
    padding-left: 17%;
  }
}

.content-sumary li {
  margin-bottom: 5px;
  font-weight: 600;
}

.content-sumary li::before {
  content: "\f105";
  font-family: "Font Awesome 5 Free";
  position: absolute;
  left: -25px;
  color: #6a9c89;
}

/* ESTILOS INTRODUCTION */

.introduction {
  display: grid;
  grid-template-columns: 300px 500px;
  gap: 17px;
}

@media (max-width: 900px) {
  /* RESPONSIVENESS */
  .introduction {
    grid-template-columns: 1fr;
    margin-inline: 20px;
    gap: 0px;
  }
}

.introduction p {
  text-align: justify;
  position: relative;
  margin-inline: 5px;
  z-index: 1;
  transition: all 0.3s ease;
}

.introduction p::before {
  content: "";
  position: absolute;
  top: -8px;
  left: -8px;
  right: -8px;
  bottom: -8px;
  background-color: #d1e6de;
  z-index: -1;
  border-radius: 5px;
  transition: all 0.2s ease;
  opacity: 0;
}

.introduction p:hover {
  transform: scale(1.006);
}
.introduction p:hover::before {
  opacity: 1;
}

/* ESTILOS ICONO CLIPBOARD */

.introduction .icon {
  position: absolute;
  top: -5px;
  left: -5px;
  transform: translate(-60%, -60%);
  font-size: 20px;
  color: #1b6258;
}

.tools .icon {
  position: absolute;
  top: 7px;
  left: 7px;
  transform: translate(-46%, -46%);
  font-size: 19px;
  color: #1b6258;
}

.icon i {
  display: none;
}

.show-icon i {
  display: inline;
}

/* ESTILOS TOOLS */

.tools {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
}

@media (max-width: 970px) {
  /* RESPONSIVENESS */
  .tools {
    grid-template-columns: repeat(2, 1fr);
    margin-inline: 20px;
  }
}

@media (max-width: 450px) {
  /* RESPONSIVENESS */
  .tools {
    grid-template-columns: 1fr;
    margin-inline: 20px;
  }
}

.tools-p {
  text-align: center;
  margin-right: 10px;
}

.tools li {
  text-align: justify;
  position: relative;
  margin-inline: 8px;
  z-index: 1;
  transition: all 0.3s ease;
}

.tools li::before {
  content: "\f1ce";
  font-family: "Font Awesome 5 Free";
  font-weight: 800;
  left: -17px;
  color: #6a9c89;
}

.tools li::after {
  content: "";
  position: absolute;
  top: -8px;
  left: -8px;
  right: -8px;
  bottom: -8px;
  background-color: #d1e6de;
  z-index: -1;
  border-radius: 5px;
  transition: all 0.3s ease;
  opacity: 0;
}

.tools li:hover {
  transform: scale(1.008);
}
.tools li:hover::after {
  opacity: 1;
}

/* ESTILOS SPAN HIGHLIGHT */

span.highlight {
  color: #4c9579;
  font-weight: bold;
  background-color: #c4dad2;
  padding: 1px 4px;
  border-radius: 3px;
}

/* ESTILOS BUTTONS HTML AND CSS */

.button-container {
  text-align: center;
  margin-top: 15px;
  margin-bottom: 40px;
}

button {
  background-color: #16423c;
  color: white;
  border: none;
  padding: 10px 20px;
  margin: 10px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #6a9c89;
}

/* ESTILOS POPUPS CON CODIGO */

pre {
  position: relative;
}

code {
  font-family: "Courier New", Courier, monospace;
  color: #e9efec;
}

.modal-content {
  display: none;
}

.show-modal {
  display: block;
  position: fixed;
  height: 75%;
  width: 50%;
  top: 50%;
  left: 50%;
  padding: 25px;
  transform: translate(-50%, -50%);
  border-radius: 15px;
  z-index: 1000;
  overflow: auto;
  color: #e9efec;
  background-color: rgb(22, 66, 60, 0.35);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

@media (max-width: 767px) {
  .show-modal {
    width: 90%;
    height: 85%;
  }
}

.fa-circle-xmark {
  color: #16423c;
  float: right;
  font-size: 34px;
  font-weight: bolder;
  text-shadow: 0px 0px 10px #d6f6e6, 0px 0px 8px #e9efec;
}

.fa-circle-xmark:hover,
.fa-circle-xmark:focus {
  color: #e9efec;
  text-decoration: none;
  cursor: pointer;
  text-shadow: 0px 0px 10px #0e4127, 0px 0px 8px #096537;
}

.fa-html5,
.fa-css3-alt {
  color: #16423c;
  font-size: 40px;
  position: relative;
  text-shadow: 0px 0px 10px #d6f6e6, 0px 0px 8px #e9efec;
}

.html-text,
.css-text {
  color: #16423c;
  font-size: 40px;
  position: relative;
  text-shadow: 0px 0px 10px #d6f6e6, 0px 0px 8px #e9efec;
}

.pre-html,
.pre-css {
  padding: 2px;
  border: 4px solid #c4dad2;
  font-size: smaller;
  color: #e9efec;
  background-color: rgb(22, 66, 60, 0.95);
  border-radius: 15px;
  overflow-x: auto;
}

footer {
  margin: 0px;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  background-color: #16423c;
  padding: 20px;
  text-align: center;
  color: #e9efec;
}

footer a {
  text-decoration: none;
}

.link-text {
  margin: 0 15px;
  color: #6a9c89;
}

.link-text:hover {
  color: #e9efec;
}

.social-icon {
  font-size: 20px;
}

.social-icon i:hover {
  color: #e9efec;
  font-size: 20.3px;
}
